/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  margin: 0 auto;
  width: 94%;
  max-width: 1240px;
}

.row {
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.row::before,
.row::after { content: " "; display: table; }
.row::after { clear: both; }

.column,
.columns {
  float: left;
  width: calc(100% - 1em);
  min-height: 1px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.row ~ .row,
.column ~ .column,
.columns ~ .column,
.column ~ .columns,
.columns ~ .columns { margin-top: 1em; }

@media (min-width: 35em) {
  .column ~ .column,
  .columns ~ .column,
  .column ~ .columns,
  .columns ~ .columns { margin-top: 0; }

  .one.column,
  .one.columns          { width: calc(((100%/12) * 1) - 1em); }
  .two.column,
  .two.columns          { width: calc(((100% / 12) * 2) - 1em); }
  .three.column,
  .three.columns,
  .one-quarter.column,
  .one-quarter.columns  { width: calc(((100% / 12) * 3) - 1em); }
  .four.column,
  .four.columns,
  .one-third.column,
  .one-third.columns    { width: calc(((100% / 12) * 4) - 1em); }
  .five.column,
  .five.columns         { width: calc(((100% / 12) * 5) - 1em); }
  .six.column,
  .six.columns,
  .one-half.column,
  .one-half.columns     { width: calc(((100% / 12) * 6) - 1em); }
  .seven.column,
  .seven.columns        { width: calc(((100% / 12) * 7) - 1em); }
  .eight.column,
  .eight.columns,
  .two-thirds.column,
  .two-thirds.columns   { width: calc(((100% / 12) * 8) - 1em); }
  .nine.column,
  .nine.columns         { width: calc(((100% / 12) * 9) - 1em); }
  .ten.column,
  .ten.columns          { width: calc(((100% / 12) * 10) - 1em); }
  .eleven.column,
  .eleven.columns       { width: calc(((100% / 12) * 11) - 1em); }
  .twelve.column,
  .twelve.columns       { width: calc(((100% / 12) * 12) - 1em); }

  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: calc(((100% / 12) * 1) + 0.5em); }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: calc(((100% / 12) * 2) + 0.5em); }
  .offset-by-three.column,
  .offset-by-three.columns,
  .offset-by-one-quarter.column,
  .offset-by-one-quarter.columns  { margin-left: calc(((100% / 12) * 3) + 0.5em); }
  .offset-by-four.column,
  .offset-by-four.columns,
  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: calc(((100% / 12) * 4) + 0.5em); }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: calc(((100% / 12) * 5) + 0.5em); }
  .offset-by-six.column,
  .offset-by-six.columns,
  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: calc(((100% / 12) * 6) + 0.5em); }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: calc(((100% / 12) * 7) + 0.5em); }
  .offset-by-eight.column,
  .offset-by-eight.columns,
  .offset-two-thirds.column,
  .offset-two-thirds.columns      { margin-left: calc(((100% / 12) * 8) + 0.5em); }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: calc(((100% / 12) * 9) + 0.5em); }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: calc(((100% / 12) * 10) + 0.5em); }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: calc(((100% / 12) * 11) + 0.5em); }
}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  font-size: 1em;
  box-sizing: border-box; }
*, *::before, *::after {
  box-sizing: inherit; }
body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #BBB;
  cursor: pointer; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button:disabled {
  border: 1px solid #E3E3E3;
  color: #888;
  cursor: not-allowed;
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active{
  color: #222;
  border-color: #222; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }
.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled {
  color: #FFF;
  cursor: not-allowed;
  background-color: #7CD9F8;
  border-color: #7CD9F8; }
.button.button-primary:active,
button.button-primary:active,
input[type="submit"].button-primary:active,
input[type="reset"].button-primary:active,
input[type="button"].button-primary:active{
  color: #FFF;
  background-color: #157b9b;
  border-color: #157b9b; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #FFF;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none; }
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select:not([size]),
textarea:not([rows]) {
  height: 38px; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow: auto; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%; }
.u-max-full-width {
  max-width: 100%; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
