/*
 * ! skeleton-framework | 2.0.0 | MIT | 5/21/2020
 */
/*
* Table of contents
* -----------------
* - Root Variables
* - Base Styles
* - Grid
* - Typography
* - Links
* - Buttons
* - Forms
* - Lists
* - Cards
* - Code
* - Tables
* - Spacing
* - Utilities
* - Clearing
* - Media Queries
*/

:root {
  /* Grid */
  --total-columns: 12;
  --column-width: calc(100% / var(--total-columns));
  --max-width: 1200px;
  --gutter: 1rem;

  /* Global */
  --font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --background-color: #fff;
  --font-color: #222;

  /* Links */
  --link-color: #1eaedb;
  --link-color-hover: #0fa0ce;

  /* Text */
  --text-color-primary: #1eaedb;
  --text-color-danger: #e74c3c;
  --text-color-success: #2ecc71;

  /* Buttons */
  --button-background-color: transparent;

  --button-font-color: #555;
  --button-font-color-enter: #333;
  --button-font-color-active: #222;
  --button-font-color-disabled: #888;

  --button-border: 1px solid #bbb;
  --button-border-color-enter: #888;
  --button-border-color-active: #222;
  --button-border-disabled: 1px solid #e3e3e3;

  --primary-button-font-color: #fff;
  --primary-button-font-color-enter: #fff;
  --primary-button-font-color-active: #fff;
  --primary-button-font-color-disabled: #fff;

  --primary-button-background-color: #33c3f0;
  --primary-button-background-color-enter: #1eaedb;
  --primary-button-background-color-active: #157b9b;
  --primary-button-background-color-disabled: #7cd9f8;

  --primary-button-border: 1px solid #33c3f0;
  --primary-button-border-color-enter: #1eaedb;
  --primary-button-border-color-active: #157b9b;
  --primary-button-border-color-disabled: #7cd9f8;

  --success-button-font-color: #fff;
  --success-button-font-color-enter: #fff;
  --success-button-font-color-active: #fff;
  --success-button-font-color-disabled: #fff;

  --success-button-background-color: #2ecc71;
  --success-button-background-color-enter: #27ae60;
  --success-button-background-color-active: #2ecc71;
  --success-button-background-color-disabled: #82e3aa;

  --success-button-border: 1px solid #2ecc71;
  --success-button-border-color-enter: #27ae60;
  --success-button-border-color-active: #2ecc71;
  --success-button-border-color-disabled: #82e3aa;

  --danger-button-font-color: #fff;
  --danger-button-font-color-enter: #fff;
  --danger-button-font-color-active: #fff;
  --danger-button-font-color-disabled: #fff;

  --danger-button-background-color: #e74c3c;
  --danger-button-background-color-enter: #c0392b;
  --danger-button-background-color-active: #e74c3c;
  --danger-button-background-color-disabled: #ee8377;

  --danger-button-border: 1px solid #e74c3c;
  --danger-button-border-color-enter: #c0392b;
  --danger-button-border-color-active: #e74c3c;
  --danger-button-border-color-disabled: #ee8377;

  /* Forms */
  --form-background-color: #fff;
  --form-font-color: #222;
  --form-border: 1px solid #d1d1d1;
  --form-border-enter: 1px solid #33c3f0;
  --form-border-enter-error: 1px solid #e74c3c;
  --form-border-enter-success: 1px solid #2ecc71;

  /* Code */
  --code-background: #f1f1f1;
  --code-border: 1px solid #e1e1e1;

  /* Alerts */
  --alert-font-color: #000;
  --alert-border: 1px solid #000;
  --alert-background-color: #fff;

  --alert-primary-font-color: #fff;
  --alert-primary-border: 1px solid #33c3f0;
  --alert-primary-background-color: #33c3f0;

  --alert-success-font-color: #fff;
  --alert-success-border: 1px solid #2ecc71;
  --alert-success-background-color: #2ecc71;

  --alert-danger-font-color: #fff;
  --alert-danger-border: 1px solid #e74c3c;
  --alert-danger-background-color: #e74c3c;

  /* Tables */
  --td-border-bottom: 1px solid #e1e1e1;

  /* Utilities */
  --border-radius: 4px;
  --hr: 1px solid #e1e1e1;

  /* Cards */
  --card-shift: -2px;
  --card-active-border: #8a8a8a;
  --card-border: #e1e1e1;
  --card-shadow: #e1e1e1;
  --card-anchor-color: #757575;
}

html {
  font-size: 1em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--font-color);
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--max-width);
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.row {
  margin-left: calc(-1 * (var(--gutter) / 2));
  margin-right: calc(-1 * (var(--gutter) / 2));
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

[class*='column'] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.xs-one[class*='column'] {
  width: calc((var(--column-width) * 1));
}

.xs-two[class*='column'] {
  width: calc((var(--column-width) * 2));
}

.xs-three[class*='column'],
.xs-one-quarter[class*='column'] {
  width: calc((var(--column-width) * 3));
}

.xs-four[class*='column'],
.xs-one-third[class*='column'] {
  width: calc((var(--column-width) * 4));
}

.xs-five[class*='column'] {
  width: calc((var(--column-width) * 5));
}

.xs-six[class*='column'],
.xs-one-half[class*='column'] {
  width: calc((var(--column-width) * 6));
}

.xs-seven[class*='column'] {
  width: calc((var(--column-width) * 7));
}

.xs-eight[class*='column'],
.xs-two-thirds[class*='column'] {
  width: calc((var(--column-width) * 8));
}

.xs-nine[class*='column'] {
  width: calc((var(--column-width) * 9));
}

.xs-ten[class*='column'] {
  width: calc((var(--column-width) * 10));
}

.xs-eleven[class*='column'] {
  width: calc((var(--column-width) * 11));
}

.xs-twelve[class*='column'] {
  width: calc((var(--column-width) * 12));
}

[class*='xs-'][class*='column'] ~ [class*='xs-'][class*='column'] {
  margin-top: 0;
}

@media screen and (min-width: 560px) {
  [class*='column'] ~ [class*='column'] {
    margin-top: 0;
  }
  .one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .three[class*='column'],
  .one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .four[class*='column'],
  .one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .six[class*='column'],
  .one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .eight[class*='column'],
  .two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .offset-by-one[class*='column'] {
    margin-left: calc((var(--column-width) * 1));
  }
  .offset-by-two[class*='column'] {
    margin-left: calc((var(--column-width) * 2));
  }
  .offset-by-three[class*='column'],
  .offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .offset-by-four[class*='column'],
  .offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .offset-by-six[class*='column'],
  .offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .offset-by-eight[class*='column'],
  .offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
  .sm-one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .sm-two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .sm-three[class*='column'],
  .sm-one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .sm-four[class*='column'],
  .sm-one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .sm-five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .sm-six[class*='column'],
  .sm-one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .sm-seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .sm-eight[class*='column'],
  .sm-two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .sm-nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .sm-ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .sm-eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .sm-twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .sm-offset-by-zero[class*='column'] {
    margin-left: 0;
  }
  .sm-offset-by-one[class*='column'] {
    margin-left: calc((var(--column-width) * 1));
  }
  .sm-offset-by-two[class*='column'] {
    margin-left: calc((var(--column-width) * 2));
  }
  .sm-offset-by-three[class*='column'],
  .sm-offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .sm-offset-by-four[class*='column'],
  .sm-offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .sm-offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .sm-offset-by-six[class*='column'],
  .sm-offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .sm-offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .sm-offset-by-eight[class*='column'],
  .sm-offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .sm-offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .sm-offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .sm-offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
}

@media screen and (min-width: 720px) {
  .md-one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .md-two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .md-three[class*='column'],
  .md-one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .md-four[class*='column'],
  .md-one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .md-five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .md-six[class*='column'],
  .md-one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .md-seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .md-eight[class*='column'],
  .md-two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .md-nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .md-ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .md-eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .md-twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .md-offset-by-zero[class*='column'] {
    margin-left: 0;
  }
  .md-offset-by-one[class*='column'] {
    margin-left: calc((var(--column-width) * 1));
  }
  .md-offset-by-two[class*='column'] {
    margin-left: calc((var(--column-width) * 2));
  }
  .md-offset-by-three[class*='column'],
  .md-offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .md-offset-by-four[class*='column'],
  .md-offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .md-offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .md-offset-by-six[class*='column'],
  .md-offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .md-offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .md-offset-by-eight[class*='column'],
  .md-offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .md-offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .md-offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .md-offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
}

@media screen and (min-width: 960px) {
  .lg-one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .lg-two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .lg-three[class*='column'],
  .lg-one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .lg-four[class*='column'],
  .lg-one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .lg-five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .lg-six[class*='column'],
  .lg-one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .lg-seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .lg-eight[class*='column'],
  .lg-two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .lg-nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .lg-ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .lg-eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .lg-twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .lg-offset-by-zero[class*='column'] {
    margin-left: 0;
  }
  .lg-offset-by-one[class*='column'] {
    margin-left: calc(var(--column-width) * 1)
  }
  .lg-offset-by-two[class*='column'] {
    margin-left: calc(var(--column-width) * 2)
  }
  .lg-offset-by-three[class*='column'],
  .lg-offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .lg-offset-by-four[class*='column'],
  .lg-offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .lg-offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .lg-offset-by-six[class*='column'],
  .lg-offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .lg-offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .lg-offset-by-eight[class*='column'],
  .lg-offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .lg-offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .lg-offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .lg-offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
}

/* Base Typo */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 300;
}

h1,
h2,
h3 {
  margin-top: 2rem;
}

h4,
h5,
h6 {
  margin-top: 1.5rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.0rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */

@media (min-width: 560px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3.0rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}

/* Links */

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

/* Colors */

.text-primary {
 color: var(--text-color-primary)
}

.text-success {
  color: var(--text-color-success)
}

.text-danger {
  color: var(--text-color-danger)
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 2.5rem;
  padding: 0 1.9rem;
  color: var(--button-font-color);
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--button-background-color);
  border-radius: var(--border-radius);
  border: var(--button-border);
  cursor: pointer;
  transition: border 0.2s;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--button-font-color-enter);
  border-color: var(--button-border-color-enter);
  outline: 0;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  color: var(--button-font-color-active);
  border-color: var(--button-border-color-active);
}

.button:disabled,
.button:disabled:hover,
button[disabled],
.button[disabled],
.button-primary[disabled],
.button-success[disabled],
.button-danger[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
  border: var(--button-border-disabled);
  color: var(--button-font-color-disabled);
  cursor: not-allowed;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  border: var(--primary-button-border);
  color: var(--primary-button-font-color);
  background-color: var(--primary-button-background-color);
  transition: background-color 0.2s;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: var(--primary-button-font-color-enter);
  background-color: var(--primary-button-background-color-enter);
  border-color: var(--primary-button-border-color-enter);
}

.button.button-primary:active,
button.button-primary:active,
input[type="submit"].button-primary:active,
input[type="reset"].button-primary:active,
input[type="button"].button-primary:active {
  color: var(--primary-button-font-color-active);
  background-color: var(--primary-button-background-color-active);
  border-color: var(--primary-button-border-color-active);
}

.button.button-primary:disabled,
button.button-primary:disabled,
input[type="submit"].button-primary:disabled,
input[type="reset"].button-primary:disabled,
input[type="button"].button-primary:disabled {
  color: var(--primary-button-font-color-disabled);
  cursor: not-allowed;
  background-color: var(--primary-button-background-color-disabled);
  border-color: var(--primary-button-border-color-disabled);
}

.button.button-success,
button.button-success,
input[type="submit"].button-success,
input[type="reset"].button-success,
input[type="button"].button-success {
  border: var(--success-button-border);
  color: var(--success-button-font-color);
  background-color: var(--success-button-background-color);
  transition: background-color 0.2s;
}

.button.button-success:hover,
button.button-success:hover,
input[type="submit"].button-success:hover,
input[type="reset"].button-success:hover,
input[type="button"].button-success:hover,
.button.button-success:focus,
button.button-success:focus,
input[type="submit"].button-success:focus,
input[type="reset"].button-success:focus,
input[type="button"].button-success:focus {
  color: var(--success-button-font-color-enter);
  background-color: var(--success-button-background-color-enter);
  border-color: var(--success-button-border-color-enter);
}

.button.button-success:active,
button.button-success:active,
input[type="submit"].button-success:active,
input[type="reset"].button-success:active,
input[type="button"].button-success:active {
  color: var(--success-button-font-color-active);
  background-color: var(--success-button-background-color-active);
  border-color: var(--success-button-border-color-active);
}

.button.button-success:disabled,
button.button-success:disabled,
input[type="submit"].button-success:disabled,
input[type="reset"].button-success:disabled,
input[type="button"].button-success:disabled {
  color: var(--success-button-font-color-disabled);
  cursor: not-allowed;
  background-color: var(--success-button-background-color-disabled);
  border-color: var(--success-button-border-color-disabled);
}

.button.button-danger,
button.button-danger,
input[type="submit"].button-danger,
input[type="reset"].button-danger,
input[type="button"].button-danger {
  border: var(--danger-button-border);
  color: var(--danger-button-font-color);
  background-color: var(--danger-button-background-color);
  transition: background-color 0.2s;
}

.button.button-danger:hover,
button.button-danger:hover,
input[type="submit"].button-danger:hover,
input[type="reset"].button-danger:hover,
input[type="button"].button-danger:hover,
.button.button-danger:focus,
button.button-danger:focus,
input[type="submit"].button-danger:focus,
input[type="reset"].button-danger:focus,
input[type="button"].button-danger:focus {
  color: var(--danger-button-font-color-enter);
  background-color: var(--danger-button-background-color-enter);
  border-color: var(--danger-button-border-color-enter);
}

.button.button-danger:active,
button.button-danger:active,
input[type="submit"].button-danger:active,
input[type="reset"].button-danger:active,
input[type="button"].button-danger:active {
  color: var(--danger-button-font-color-active);
  background-color: var(--danger-button-background-color-active);
  border-color: var(--danger-button-border-color-active);
}

.button.button-danger:disabled,
button.button-danger:disabled,
input[type="submit"].button-danger:disabled,
input[type="reset"].button-danger:disabled,
input[type="button"].button-danger:disabled {
  color: var(--danger-button-font-color-disabled);
  cursor: not-allowed;
  background-color: var(--danger-button-background-color-disabled);
  border-color: var(--danger-button-border-color-disabled);
}

input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 0.4rem 0.6rem;
  background-color: var(--form-background-color);
  border: var(--form-border);
  border-radius: var(--border-radius);
  box-shadow: none;
  transition: border 0.2s;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select:not([size]),
textarea:not([rows]) {
  height: 2.5rem;
}

/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

textarea {
  min-height: 4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  resize: vertical;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: var(--form-border-enter);
  outline: 0;
}

.has-error,
.has-error:focus {
  border: var(--form-border-enter-error) !important;
  outline: 0;
}

.has-success,
.has-success:focus {
  border: var(--form-border-enter-success) !important;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

.list-inline > li {
  display: inline-block;
  padding-right: .2rem;
  padding-left: .2rem;
  margin-bottom: .5rem;
}

/* Cards */

.card {
  border: 1px solid var(--card-border);
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px var(--card-shadow);
  min-height: 160px;
  margin-bottom: 1rem;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
  margin-bottom:1.2rem;
}

a.card {
  display: block;
  color: var(--card-anchor-color);
  text-decoration: none;
  transition: color .3s, transform .3s, border-color .3s;
}

a.card:hover,
a.card:active {
  color: black;
  border-color: var(--card-active-border);
  transform: translateX(var(--card-shift)) translateY(var(--card-shift));
}

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: var(--code-background);
  border: var(--code-border);
  border-radius: var(--border-radius);
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow-x: auto;
}

@media (max-width: 560px) {
  pre > code {
    white-space: nowrap;
  }
}

.alert {
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--alert-border);
  color: var(--alert-font-color);
  background-color: var(--alert-background-color);
  padding: 10px 15px;
}

.alert.alert-primary {
  border: var(--alert-primary-border);
  color: var(--alert-primary-font-color);
  background-color: var(--alert-primary-background-color);
}

.alert.alert-success {
  border: var(--alert-success-border);
  color: var(--alert-success-font-color);
  background-color: var(--alert-success-background-color);
}

.alert.alert-danger {
  border: var(--alert-danger-border);
  color: var(--alert-danger-font-color);
  background-color: var(--alert-danger-background-color);
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0.75rem 1rem;
}

th {
  text-align: left;
}

td {
  border-bottom: var(--td-border-bottom);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
    border-bottom: 1px solid #000;
}

@media (min-width: 560px) {
  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }
}

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset,
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
}

.alert {
  margin-bottom: 1rem;
}

.u-full-width {
  width: 100%;
}

.u-max-full-width {
  max-width: 100%;
}

/* Floats */

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Positioning */

.u-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Note:
 *
 * Nest this class inside something with `position: relative` to have
 * your element centered relative to its containing element.
 *
 * Use this class without nesting it to have your element centered relative
 * to the viewport.
 */

.u-center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* Type */

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* Peek a boo */

.u-hide {
  display: none !important;
}

.u-show {
  display: block !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-visible {
  visibility: visible !important;
}

/* Misc */

.u-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Misc */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: var(--hr);
}

/* Clearing */

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*****
* Media Queries
*
* Note: The best way to structure the use of media queries is to create the
* queries near the relevant code. For example, if you wanted to change the
* styles for buttons on small devices, paste the mobile query code up in the
* buttons section and style it there.
*****/

@media (min-width: 400px) {
  /* Larger than mobile */
}

@media (min-width: 560px) {
  /* Larger than phablet (also point when grid becomes active) */
}

@media (min-width: 720px) {
  /* Larger than tablet */
}

@media (min-width: 960px) {
  /* Larger than desktop */
}

@media (min-width: 1200px) {
  /* Larger than Desktop HD */
}
