:root {
  --total-columns: 12;
  --column-width: calc(100%/var(--total-columns));
  --max-width: 1240px;
  --gutter: 1em;
}

.container {
  margin: 0 auto;
  width: calc(100% - var(--gutter));
  max-width: var(--max-width);
}

.container .container {
  margin-top: calc(var(--gutter) / 2);
  width: calc(100% - (var(--gutter)  * 2));
}

.row {
  margin-left: calc(-1 * (var(--gutter) / 2));
  margin-right: calc(-1 * (var(--gutter) / 2));
}

.row::before,
.row::after { content: ' '; display: table; }
.row::after { clear: both; }

.row ~ .row,
[class*='column'] ~ [class*='column'] {
  margin-top: var(--gutter);
}

[class*='column'] {
  width: calc(100% - var(--gutter));
  float: left;
  min-height: 1px;
  margin-left: calc(var(--gutter) / 2);
  margin-right: calc(var(--gutter) / 2);
}

.xs-one[class*='column']          { width: calc((var(--column-width) * 1) - var(--gutter)); }
.xs-two[class*='column']          { width: calc((var(--column-width) * 2) - var(--gutter)); }
.xs-three[class*='column'],
.xs-one-quarter[class*='column']  { width: calc((var(--column-width) * 3) - var(--gutter)); }
.xs-four[class*='column'],
.xs-one-third[class*='column']    { width: calc((var(--column-width) * 4) - var(--gutter)); }
.xs-five[class*='column']         { width: calc((var(--column-width) * 5) - var(--gutter)); }
.xs-six[class*='column'],
.xs-one-half[class*='column']     { width: calc((var(--column-width) * 6) - var(--gutter)); }
.xs-seven[class*='column']        { width: calc((var(--column-width) * 7) - var(--gutter)); }
.xs-eight[class*='column'],
.xs-two-thirds[class*='column']   { width: calc((var(--column-width) * 8) - var(--gutter)); }
.xs-nine[class*='column']         { width: calc((var(--column-width) * 9) - var(--gutter)); }
.xs-ten[class*='column']          { width: calc((var(--column-width) * 10) - var(--gutter)); }
.xs-eleven[class*='column']       { width: calc((var(--column-width) * 11) - var(--gutter)); }
.xs-twelve[class*='column']       { width: calc((var(--column-width) * 12) - var(--gutter)); }

@media screen and (min-width: 35em) {
  [class*='column'] ~ [class*='column'] {
    margin-top: 0;
  }

  .one[class*='column']         { width: calc((var(--column-width) * 1) - var(--gutter)); }
  .two[class*='column']         { width: calc((var(--column-width) * 2) - var(--gutter)); }
  .three[class*='column'],
  .one-quarter[class*='column'] { width: calc((var(--column-width) * 3) - var(--gutter)); }
  .four[class*='column'],
  .one-third[class*='column']   { width: calc((var(--column-width) * 4) - var(--gutter)); }
  .five[class*='column']        { width: calc((var(--column-width) * 5) - var(--gutter)); }
  .six[class*='column'],
  .one-half[class*='column']    { width: calc((var(--column-width) * 6) - var(--gutter)); }
  .seven[class*='column']       { width: calc((var(--column-width) * 7) - var(--gutter)); }
  .eight[class*='column'],
  .two-thirds[class*='column']  { width: calc((var(--column-width) * 8) - var(--gutter)); }
  .nine[class*='column']        { width: calc((var(--column-width) * 9) - var(--gutter)); }
  .ten[class*='column']         { width: calc((var(--column-width) * 10) - var(--gutter)); }
  .eleven[class*='column']      { width: calc((var(--column-width) * 11) - var(--gutter)); }
  .twelve[class*='column']      { width: calc((var(--column-width) * 12) - var(--gutter)); }

  .offset-by-one[class*='column']         { margin-left: calc((var(--column-width) * 1) + (var(--gutter) / 2)); }
  .offset-by-two[class*='column']         { margin-left: calc((var(--column-width) * 2) + (var(--gutter) / 2)); }
  .offset-by-three[class*='column'],
  .offset-by-one-quarter[class*='column'] { margin-left: calc((var(--column-width) * 3) + (var(--gutter) / 2)); }
  .offset-by-four[class*='column'],
  .offset-by-one-third[class*='column']   { margin-left: calc((var(--column-width) * 4) + (var(--gutter) / 2)); }
  .offset-by-five[class*='column']        { margin-left: calc((var(--column-width) * 5) + (var(--gutter) / 2)); }
  .offset-by-six[class*='column'],
  .offset-by-one-half[class*='column']    { margin-left: calc((var(--column-width) * 6) + (var(--gutter) / 2)); }
  .offset-by-seven[class*='column']       { margin-left: calc((var(--column-width) * 7) + (var(--gutter) / 2)); }
  .offset-by-eight[class*='column'],
  .offset-by-two-thirds[class*='column']  { margin-left: calc((var(--column-width) * 8) + (var(--gutter) / 2)); }
  .offset-by-nine[class*='column']        { margin-left: calc((var(--column-width) * 9) + (var(--gutter) / 2)); }
  .offset-by-ten[class*='column']         { margin-left: calc((var(--column-width) * 10) + (var(--gutter) / 2)); }
  .offset-by-eleven[class*='column']      { margin-left: calc((var(--column-width) * 11) + (var(--gutter) / 2)); }


  .sm-one[class*='column']          { width: calc((var(--column-width) * 1) - var(--gutter)); }
  .sm-two[class*='column']          { width: calc((var(--column-width) * 2) - var(--gutter)); }
  .sm-three[class*='column'],
  .sm-one-quarter[class*='column']  { width: calc((var(--column-width) * 3) - var(--gutter)); }
  .sm-four[class*='column'],
  .sm-one-third[class*='column']    { width: calc((var(--column-width) * 4) - var(--gutter)); }
  .sm-five[class*='column']         { width: calc((var(--column-width) * 5) - var(--gutter)); }
  .sm-six[class*='column'],
  .sm-one-half[class*='column']     { width: calc((var(--column-width) * 6) - var(--gutter)); }
  .sm-seven[class*='column']        { width: calc((var(--column-width) * 7) - var(--gutter)); }
  .sm-eight[class*='column'],
  .sm-two-thirds[class*='column']   { width: calc((var(--column-width) * 8) - var(--gutter)); }
  .sm-nine[class*='column']         { width: calc((var(--column-width) * 9) - var(--gutter)); }
  .sm-ten[class*='column']          { width: calc((var(--column-width) * 10) - var(--gutter)); }
  .sm-eleven[class*='column']       { width: calc((var(--column-width) * 11) - var(--gutter)); }
  .sm-twelve[class*='column']       { width: calc((var(--column-width) * 12) - var(--gutter)); }

  .sm-offset-by-one[class*='column']          { margin-left: calc((var(--column-width) * 1) + (var(--gutter) / 2)); }
  .sm-offset-by-two[class*='column']          { margin-left: calc((var(--column-width) * 2) + (var(--gutter) / 2)); }
  .sm-offset-by-three[class*='column'],
  .sm-offset-by-one-quarter[class*='column']  { margin-left: calc((var(--column-width) * 3) + (var(--gutter) / 2)); }
  .sm-offset-by-four[class*='column'],
  .sm-offset-by-one-third[class*='column']    { margin-left: calc((var(--column-width) * 4) + (var(--gutter) / 2)); }
  .sm-offset-by-five[class*='column']         { margin-left: calc((var(--column-width) * 5) + (var(--gutter) / 2)); }
  .sm-offset-by-six[class*='column'],
  .sm-offset-by-one-half[class*='column']     { margin-left: calc((var(--column-width) * 6) + (var(--gutter) / 2)); }
  .sm-offset-by-seven[class*='column']        { margin-left: calc((var(--column-width) * 7) + (var(--gutter) / 2)); }
  .sm-offset-by-eight[class*='column'],
  .sm-offset-by-two-thirds[class*='column']   { margin-left: calc((var(--column-width) * 8) + (var(--gutter) / 2)); }
  .sm-offset-by-nine[class*='column']         { margin-left: calc((var(--column-width) * 9) + (var(--gutter) / 2)); }
  .sm-offset-by-ten[class*='column']          { margin-left: calc((var(--column-width) * 10) + (var(--gutter) / 2)); }
  .sm-offset-by-eleven[class*='column']       { margin-left: calc((var(--column-width) * 11) + (var(--gutter) / 2)); }
}

@media screen and (min-width: 45em) {
  .md-one[class*='column']          { width: calc((var(--column-width) * 1) - var(--gutter)); }
  .md-two[class*='column']          { width: calc((var(--column-width) * 2) - var(--gutter)); }
  .md-three[class*='column'],
  .md-one-quarter[class*='column']  { width: calc((var(--column-width) * 3) - var(--gutter)); }
  .md-four[class*='column'],
  .md-one-third[class*='column']    { width: calc((var(--column-width) * 4) - var(--gutter)); }
  .md-five[class*='column']         { width: calc((var(--column-width) * 5) - var(--gutter)); }
  .md-six[class*='column'],
  .md-one-half[class*='column']     { width: calc((var(--column-width) * 6) - var(--gutter)); }
  .md-seven[class*='column']        { width: calc((var(--column-width) * 7) - var(--gutter)); }
  .md-eight[class*='column'],
  .md-two-thirds[class*='column']   { width: calc((var(--column-width) * 8) - var(--gutter)); }
  .md-nine[class*='column']         { width: calc((var(--column-width) * 9) - var(--gutter)); }
  .md-ten[class*='column']          { width: calc((var(--column-width) * 10) - var(--gutter)); }
  .md-eleven[class*='column']       { width: calc((var(--column-width) * 11) - var(--gutter)); }
  .md-twelve[class*='column']       { width: calc((var(--column-width) * 12) - var(--gutter)); }

  .md-offset-by-one[class*='column']          { margin-left: calc((var(--column-width) * 1) + (var(--gutter) / 2)); }
  .md-offset-by-two[class*='column']          { margin-left: calc((var(--column-width) * 2) + (var(--gutter) / 2)); }
  .md-offset-by-three[class*='column'],
  .md-offset-by-one-quarter[class*='column']  { margin-left: calc((var(--column-width) * 3) + (var(--gutter) / 2)); }
  .md-offset-by-four[class*='column'],
  .md-offset-by-one-third[class*='column']    { margin-left: calc((var(--column-width) * 4) + (var(--gutter) / 2)); }
  .md-offset-by-five[class*='column']         { margin-left: calc((var(--column-width) * 5) + (var(--gutter) / 2)); }
  .md-offset-by-six[class*='column'],
  .md-offset-by-one-half[class*='column']     { margin-left: calc((var(--column-width) * 6) + (var(--gutter) / 2)); }
  .md-offset-by-seven[class*='column']        { margin-left: calc((var(--column-width) * 7) + (var(--gutter) / 2)); }
  .md-offset-by-eight[class*='column'],
  .md-offset-by-two-thirds[class*='column']   { margin-left: calc((var(--column-width) * 8) + (var(--gutter) / 2)); }
  .md-offset-by-nine[class*='column']         { margin-left: calc((var(--column-width) * 9) + (var(--gutter) / 2)); }
  .md-offset-by-ten[class*='column']          { margin-left: calc((var(--column-width) * 10) + (var(--gutter) / 2)); }
  .md-offset-by-eleven[class*='column']       { margin-left: calc((var(--column-width) * 11) + (var(--gutter) / 2)); }
}

@media screen and (min-width: 60em) {
  .lg-one[class*='column']          { width: calc((var(--column-width) * 1) - var(--gutter)); }
  .lg-two[class*='column']          { width: calc((var(--column-width) * 2) - var(--gutter)); }
  .lg-three[class*='column'],
  .lg-one-quarter[class*='column']  { width: calc((var(--column-width) * 3) - var(--gutter)); }
  .lg-four[class*='column'],
  .lg-one-third[class*='column']    { width: calc((var(--column-width) * 4) - var(--gutter)); }
  .lg-five[class*='column']         { width: calc((var(--column-width) * 5) - var(--gutter)); }
  .lg-six[class*='column'],
  .lg-one-half[class*='column']     { width: calc((var(--column-width) * 6) - var(--gutter)); }
  .lg-seven[class*='column']        { width: calc((var(--column-width) * 7) - var(--gutter)); }
  .lg-eight[class*='column'],
  .lg-two-thirds[class*='column']   { width: calc((var(--column-width) * 8) - var(--gutter)); }
  .lg-nine[class*='column']         { width: calc((var(--column-width) * 9) - var(--gutter)); }
  .lg-ten[class*='column']          { width: calc((var(--column-width) * 10) - var(--gutter)); }
  .lg-eleven[class*='column']       { width: calc((var(--column-width) * 11) - var(--gutter)); }
  .lg-twelve[class*='column']       { width: calc((var(--column-width) * 12) - var(--gutter)); }

  .lg-offset-by-one[class*='column']          { margin-left: calc((var(--column-width) * 1) + (var(--gutter) / 2)); }
  .lg-offset-by-two[class*='column']          { margin-left: calc((var(--column-width) * 2) + (var(--gutter) / 2)); }
  .lg-offset-by-three[class*='column'],
  .lg-offset-by-one-quarter[class*='column']  { margin-left: calc((var(--column-width) * 3) + (var(--gutter) / 2)); }
  .lg-offset-by-four[class*='column'],
  .lg-offset-by-one-third[class*='column']    { margin-left: calc((var(--column-width) * 4) + (var(--gutter) / 2)); }
  .lg-offset-by-five[class*='column']         { margin-left: calc((var(--column-width) * 5) + (var(--gutter) / 2)); }
  .lg-offset-by-six[class*='column'],
  .lg-offset-by-one-half[class*='column']     { margin-left: calc((var(--column-width) * 6) + (var(--gutter) / 2)); }
  .lg-offset-by-seven[class*='column']        { margin-left: calc((var(--column-width) * 7) + (var(--gutter) / 2)); }
  .lg-offset-by-eight[class*='column'],
  .lg-offset-by-two-thirds[class*='column']   { margin-left: calc((var(--column-width) * 8) + (var(--gutter) / 2)); }
  .lg-offset-by-nine[class*='column']         { margin-left: calc((var(--column-width) * 9) + (var(--gutter) / 2)); }
  .lg-offset-by-ten[class*='column']          { margin-left: calc((var(--column-width) * 10) + (var(--gutter) / 2)); }
  .lg-offset-by-eleven[class*='column']       { margin-left: calc((var(--column-width) * 11) + (var(--gutter) / 2)); }
}
