/* the base! */
html {
  font-size: 1em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}
/* the form stuff! */
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  padding: 0.4rem 0.6rem;
  background-color: #FFF;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select:not([size]),
textarea:not([rows]) {
  height: 2.5rem;
}


/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  resize: vertical;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

.has-error,
.has-error:focus {
  border: 1px solid #e74c3c !important;
  outline: 0;
}

.has-success,
.has-success:focus {
  border: 1px solid #2ecc71 !important;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}
/* the content... things! */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

.alert {
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #000;
  color: #000;
  background-color: #FFF;
  padding: 10px 15px;
}

.alert.alert-primary {
  border: 1px solid #33C3F0;
  color: #FFF;
  background-color: #33C3F0;
}

.alert.alert-success {
  border: 1px solid #2ecc71;
  color: #FFF;
  background-color: #2ecc71;
}

.alert.alert-danger {
  border: 1px solid #e74c3c;
  color: #FFF;
  background-color: #e74c3c;
}


/* Cards */

.card {
  border: 1px solid #E1E1E1;
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #E1E1E1;
  min-height: 160px;
  margin-bottom: 1rem;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
  margin-bottom:1.2rem;
}

a.card {
  display: block;
  color: #757575;
  text-decoration: none;
  -webkit-transition: color .3s, border-color .3s, -webkit-transform .3s;
  transition: color .3s, border-color .3s, -webkit-transform .3s;
  transition: color .3s, transform .3s, border-color .3s;
  transition: color .3s, transform .3s, border-color .3s, -webkit-transform .3s;
}

a.card:hover,
a.card:active {
  color: black;
  border-color: #8A8A8A;
  -webkit-transform: translateX(-2px) translateY(-2px);
          transform: translateX(-2px) translateY(-2px);
}


.table-responsive {
    overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding: 0.75rem 1rem;
}

th {
  text-align: left;
}

td {
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
    border-bottom: 1px solid #000;
}

@media (min-width: 560px) {
  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }
}


