.alert {
  width: 100%;
  border-radius: var(--border-radius);
  border: var(--alert-border);
  color: var(--alert-font-color);
  background-color: var(--alert-background-color);
  padding: 10px 15px;
}

.alert.alert-primary {
  border: var(--alert-primary-border);
  color: var(--alert-primary-font-color);
  background-color: var(--alert-primary-background-color);
}

.alert.alert-success {
  border: var(--alert-success-border);
  color: var(--alert-success-font-color);
  background-color: var(--alert-success-background-color);
}

.alert.alert-danger {
  border: var(--alert-danger-border);
  color: var(--alert-danger-font-color);
  background-color: var(--alert-danger-background-color);
}
