html {
  font-size: 1em;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background-color);
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--font-color);
}
