/* Cards */

.card {
  border: 1px solid var(--card-border);
  padding: 15px 25px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px var(--card-shadow);
  min-height: 160px;
  margin-bottom: 1rem;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card p {
  margin-bottom:1.2rem;
}

a.card {
  display: block;
  color: var(--card-anchor-color);
  text-decoration: none;
  transition: color .3s, transform .3s, border-color .3s;
}

a.card:hover,
a.card:active {
  color: black;
  border-color: var(--card-active-border);
  transform: translateX(var(--card-shift)) translateY(var(--card-shift));
}
