code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: var(--code-background);
  border: var(--code-border);
  border-radius: var(--border-radius);
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
  overflow-x: auto;
}

@media (max-width: 560px) {
  pre > code {
    white-space: nowrap;
  }
}
