.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--max-width);
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.row {
  margin-left: calc(-1 * (var(--gutter) / 2));
  margin-right: calc(-1 * (var(--gutter) / 2));
}

.row::before,
.row::after {
  content: ' ';
  display: table;
}

.row::after {
  clear: both;
}

[class*='column'] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.xs-one[class*='column'] {
  width: calc((var(--column-width) * 1));
}

.xs-two[class*='column'] {
  width: calc((var(--column-width) * 2));
}

.xs-three[class*='column'],
.xs-one-quarter[class*='column'] {
  width: calc((var(--column-width) * 3));
}

.xs-four[class*='column'],
.xs-one-third[class*='column'] {
  width: calc((var(--column-width) * 4));
}

.xs-five[class*='column'] {
  width: calc((var(--column-width) * 5));
}

.xs-six[class*='column'],
.xs-one-half[class*='column'] {
  width: calc((var(--column-width) * 6));
}

.xs-seven[class*='column'] {
  width: calc((var(--column-width) * 7));
}

.xs-eight[class*='column'],
.xs-two-thirds[class*='column'] {
  width: calc((var(--column-width) * 8));
}

.xs-nine[class*='column'] {
  width: calc((var(--column-width) * 9));
}

.xs-ten[class*='column'] {
  width: calc((var(--column-width) * 10));
}

.xs-eleven[class*='column'] {
  width: calc((var(--column-width) * 11));
}

.xs-twelve[class*='column'] {
  width: calc((var(--column-width) * 12));
}

[class*='xs-'][class*='column'] ~ [class*='xs-'][class*='column'] {
  margin-top: 0;
}

@media screen and (min-width: 560px) {
  [class*='column'] ~ [class*='column'] {
    margin-top: 0;
  }
  .one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .three[class*='column'],
  .one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .four[class*='column'],
  .one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .six[class*='column'],
  .one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .eight[class*='column'],
  .two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .offset-by-one[class*='column'] {
    margin-left: calc((var(--column-width) * 1));
  }
  .offset-by-two[class*='column'] {
    margin-left: calc((var(--column-width) * 2));
  }
  .offset-by-three[class*='column'],
  .offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .offset-by-four[class*='column'],
  .offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .offset-by-six[class*='column'],
  .offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .offset-by-eight[class*='column'],
  .offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
  .sm-one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .sm-two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .sm-three[class*='column'],
  .sm-one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .sm-four[class*='column'],
  .sm-one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .sm-five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .sm-six[class*='column'],
  .sm-one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .sm-seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .sm-eight[class*='column'],
  .sm-two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .sm-nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .sm-ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .sm-eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .sm-twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .sm-offset-by-one[class*='column'] {
    margin-left: calc((var(--column-width) * 1));
  }
  .sm-offset-by-two[class*='column'] {
    margin-left: calc((var(--column-width) * 2));
  }
  .sm-offset-by-three[class*='column'],
  .sm-offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .sm-offset-by-four[class*='column'],
  .sm-offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .sm-offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .sm-offset-by-six[class*='column'],
  .sm-offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .sm-offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .sm-offset-by-eight[class*='column'],
  .sm-offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .sm-offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .sm-offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .sm-offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
}

@media screen and (min-width: 720px) {
  .md-one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .md-two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .md-three[class*='column'],
  .md-one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .md-four[class*='column'],
  .md-one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .md-five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .md-six[class*='column'],
  .md-one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .md-seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .md-eight[class*='column'],
  .md-two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .md-nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .md-ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .md-eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .md-twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .md-offset-by-one[class*='column'] {
    margin-left: calc((var(--column-width) * 1));
  }
  .md-offset-by-two[class*='column'] {
    margin-left: calc((var(--column-width) * 2));
  }
  .md-offset-by-three[class*='column'],
  .md-offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .md-offset-by-four[class*='column'],
  .md-offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .md-offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .md-offset-by-six[class*='column'],
  .md-offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .md-offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .md-offset-by-eight[class*='column'],
  .md-offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .md-offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .md-offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .md-offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
}

@media screen and (min-width: 960px) {
  .lg-one[class*='column'] {
    width: calc((var(--column-width) * 1));
  }
  .lg-two[class*='column'] {
    width: calc((var(--column-width) * 2));
  }
  .lg-three[class*='column'],
  .lg-one-quarter[class*='column'] {
    width: calc((var(--column-width) * 3));
  }
  .lg-four[class*='column'],
  .lg-one-third[class*='column'] {
    width: calc((var(--column-width) * 4));
  }
  .lg-five[class*='column'] {
    width: calc((var(--column-width) * 5));
  }
  .lg-six[class*='column'],
  .lg-one-half[class*='column'] {
    width: calc((var(--column-width) * 6));
  }
  .lg-seven[class*='column'] {
    width: calc((var(--column-width) * 7));
  }
  .lg-eight[class*='column'],
  .lg-two-thirds[class*='column'] {
    width: calc((var(--column-width) * 8));
  }
  .lg-nine[class*='column'] {
    width: calc((var(--column-width) * 9));
  }
  .lg-ten[class*='column'] {
    width: calc((var(--column-width) * 10));
  }
  .lg-eleven[class*='column'] {
    width: calc((var(--column-width) * 11));
  }
  .lg-twelve[class*='column'] {
    width: calc((var(--column-width) * 12));
  }
  .lg-offset-by-one[class*='column'] {
    margin-left: calc(var(--column-width) * 1)
  }
  .lg-offset-by-two[class*='column'] {
    margin-left: calc(var(--column-width) * 2)
  }
  .lg-offset-by-three[class*='column'],
  .lg-offset-by-one-quarter[class*='column'] {
    margin-left: calc((var(--column-width) * 3));
  }
  .lg-offset-by-four[class*='column'],
  .lg-offset-by-one-third[class*='column'] {
    margin-left: calc((var(--column-width) * 4));
  }
  .lg-offset-by-five[class*='column'] {
    margin-left: calc((var(--column-width) * 5));
  }
  .lg-offset-by-six[class*='column'],
  .lg-offset-by-one-half[class*='column'] {
    margin-left: calc((var(--column-width) * 6));
  }
  .lg-offset-by-seven[class*='column'] {
    margin-left: calc((var(--column-width) * 7));
  }
  .lg-offset-by-eight[class*='column'],
  .lg-offset-by-two-thirds[class*='column'] {
    margin-left: calc((var(--column-width) * 8));
  }
  .lg-offset-by-nine[class*='column'] {
    margin-left: calc((var(--column-width) * 9));
  }
  .lg-offset-by-ten[class*='column'] {
    margin-left: calc((var(--column-width) * 10));
  }
  .lg-offset-by-eleven[class*='column'] {
    margin-left: calc((var(--column-width) * 11));
  }
}
