/* Misc */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: var(--hr);
}


/* Clearing */

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}
