:root {

  --total-columns: 12;
  --column-width: calc(100% / var(--total-columns));
  --max-width: 1200px;
  --gutter: 1rem;

  --font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --background-color: #fff;
  --font-color: #222;

  --link-color: #1EAEDB;
  --link-color-hover: #0FA0CE;

  --text-color-primary: #1EAEDB;
  --text-color-danger: #e74c3c;
  --text-color-success: #2ecc71;

  --button-font-color: #555;
  --button-font-color-enter: #333;
  --button-font-color-active: #222;
  --button-font-color-disabled: #888;

  --button-background-color: transparent;

  --button-border: 1px solid #BBB;
  --button-border-color-enter: #888;
  --button-border-color-active: #222;
  --button-border-disabled: 1px solid #E3E3E3;

  --primary-button-font-color: #FFF;
  --primary-button-font-color-enter: #FFF;
  --primary-button-font-color-active: #FFF;
  --primary-button-font-color-disabled: #FFF;

  --primary-button-background-color: #33C3F0;
  --primary-button-background-color-enter: #1EAEDB;
  --primary-button-background-color-active: #157b9b;
  --primary-button-background-color-disabled: #7CD9F8;

  --primary-button-border: 1px solid #33C3F0;
  --primary-button-border-color-enter: #1EAEDB;
  --primary-button-border-color-active: #157b9b;
  --primary-button-border-color-disabled: #7CD9F8;

  --success-button-font-color: #FFF;
  --success-button-font-color-enter: #FFF;
  --success-button-font-color-active: #FFF;
  --success-button-font-color-disabled: #FFF;

  --success-button-background-color: #2ecc71;
  --success-button-background-color-enter: #27ae60;
  --success-button-background-color-active: #2ecc71;
  --success-button-background-color-disabled: #82e3aa;

  --success-button-border: 1px solid #2ecc71;
  --success-button-border-color-enter: #27ae60;
  --success-button-border-color-active: #2ecc71;
  --success-button-border-color-disabled: #82e3aa;

  --danger-button-font-color: #FFF;
  --danger-button-font-color-enter: #FFF;
  --danger-button-font-color-active: #FFF;
  --danger-button-font-color-disabled: #FFF;

  --danger-button-background-color: #e74c3c;
  --danger-button-background-color-enter: #c0392b;
  --danger-button-background-color-active: #e74c3c;
  --danger-button-background-color-disabled: #ee8377;

  --danger-button-border: 1px solid #e74c3c;
  --danger-button-border-color-enter: #c0392b;
  --danger-button-border-color-active: #e74c3c;
  --danger-button-border-color-disabled: #ee8377;

  --form-background-color: #FFF;
  --form-font-color: #222;
  --form-border: 1px solid #D1D1D1;
  --form-border-enter: 1px solid #33C3F0;
  --form-border-enter-error: 1px solid #e74c3c;
  --form-border-enter-success: 1px solid #2ecc71;

  --code-background: #F1F1F1;
  --code-border: 1px solid #E1E1E1;

  --alert-font-color: #000;
  --alert-border: 1px solid #000;
  --alert-background-color: #FFF;

  --alert-primary-font-color: #FFF;
  --alert-primary-border: 1px solid #33C3F0;
  --alert-primary-background-color: #33C3F0;

  --alert-success-font-color: #FFF;
  --alert-success-border: 1px solid #2ecc71;
  --alert-success-background-color: #2ecc71;

  --alert-danger-font-color: #FFF;
  --alert-danger-border: 1px solid #e74c3c;
  --alert-danger-background-color: #e74c3c;

  --td-border-bottom: 1px solid #E1E1E1;

  --border-radius: 4px;
  --hr: 1px solid #E1E1E1;

  --card-shift: -2px;
  --card-active-border: #8A8A8A;
  --card-border: #E1E1E1;
  --card-shadow: #E1E1E1;
  --card-anchor-color: #757575;
}
