table {
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: var(--td-border-bottom);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
