table {
  overflow-x: auto;
	display: block;
  border-collapse: collapse;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

tr {
  min-width: 20px;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: var(--td-border-bottom);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}
