.table-responsive {
    overflow-x: auto;
}

.table-responsive th,
.table-responsive td {
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  -webkit-overflow-scrolling: touch;
}

th,
td {
  padding: 0.75rem 1rem;
}

th {
  text-align: left;
}

td {
  border-bottom: var(--td-border-bottom);
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
    border-bottom: 1px solid #000;
}

@media (min-width: 560px) {
  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }
}
