/* Base Typo
 ------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.0rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 0;
}


/* Larger than phablet */

@media (min-width: 560px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3.0rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}

p {
  margin-top: 0;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-primary {
 color: var(--text-color-primary)
}

.text-success {
  color: var(--text-color-success)
}

.text-danger {
  color: var(--text-color-danger)
}
