/* Table of contents
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

:root {
  --total-columns: 12;
  --column-width: calc(100% / var(--total-columns));
  --max-width: 1200px;
  --gutter: 1rem;
}


/* Base Styles */

@import "bones/_base.css";

/* Grid */

@import "bones/_grid.css";

/* Typography and Links */

@import "bones/_typography.css";

/* Buttons */

@import "bones/_buttons.css";

/* Forms */

@import "bones/_forms.css";

/* Lists */

@import "bones/_lists.css";

/* Code */

@import "bones/_code.css";

/* Tables */

@import "bones/_tables.css";

/* Spacing */

@import "bones/_spacing.css";

/* Utilities */

@import "bones/_utils.css";

/* Misc */

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}


/* Clearing */

.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries */


/* Note: The best way to structure the use of media queries is to create the
   queries near the relevant code. For example, if you wanted to change the
   styles for buttons on small devices, paste the mobile query code up in the
   buttons section and style it there. */


/* Larger than mobile */

@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 560px) {}


/* Larger than tablet */

@media (min-width: 720px) {}


/* Larger than desktop */

@media (min-width: 960px) {}


/* Larger than Desktop HD */

@media (min-width: 1200px) {}
